<ion-header-bar class="bar-positive">
  <div class="buttons"></div>
  <div>
    <img src="img/logo_weis.png" class="logo"/>
  </div>
  <div class="buttons">
    <p class="greeting">Hi Michael!</p>
  </div>
</ion-header-bar>
<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div id="top-area">
      <h2 class="label" id="headline">Dein aktuelles Taschengeld: </h2>
      <p  class="value" id="available">€ {{available}}</p>
      <div class="button button-positive" id="request" ng-click="showRequest()">Um mehr Geld bitten</div>
    </div>

      <div id="available-moneystack"></div>



    <div id="bottom-area">
    <div class="button button-positive" id="pay" ng-click="showPay()">
      Bezahlen </div>
      <div id="spent" ng-click="go()">
        <h2 class="label">Deine bisherigen Ausgaben: </h2>
        <p class="value">€ {{spentTotal}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
