<ion-view view-title="Statistik">
  <ion-content>
    <ion-list class="list">
      <ion-item ng-repeat="stat in stats | orderBy:'-spent':true">
        <div class="item-group" ng-class="getClass($index,true)">
          <img src="img/{{stat.file}}" class="category_img"/>
          <h2>{{stat.name}}</h2>
          <p>{{stat.spent}}€, {{Math.round(stat.spent/spentTotal*100)}}%</p>
        </div>
      </ion-item>
      <ion-item>
          <div class="button" ng-click="dash()">Zurück</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
