<ion-header-bar class="bar-positive">
  <div class="buttons"></div>
  <div>
    <img src="img/logo_weis.png" class="logo"/>
  </div>
  <div class="buttons">
    <p class="greeting">Hi, Michael!</p>
  </div>
</ion-header-bar>
<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div id="top-area">
      <h2 id="headline">Du hast noch: </h2>
      <h2 id="available">{{available}}€</h2>
      <div class="button button-positive" id="request" ng-click="showRequest()">Eltern um mehr Geld fragen</div>
      <div id="available-moneystack"></div>
    </div>


    <div id="bottom-area">
    <div class="button button-positive" id="pay" ng-click="showPay()">
      <i class="icon ion-arrow-down-a">   Etwas bezahlen  <i class="icon ion-arrow-down-a"></div>
      <div class="button" id="spent" ng-click="go()">
        <h2>Schon weg:</h2>
        <h2 class="spentTotal">{{spentTotal}}€</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
