<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-slide-box  show-pager="false">
  <!-- Dashboard Tab -->
  <ion-slide title="Haupt" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-slide>

  <!-- Chats Tab -->
  <ion-slide title="Historie" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-slide>

</ion-slide-box>
