<ion-view view-title="{{kidsService.selectedKid}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ui-sref="stat">Statistik <br>
      Liniengraph
        <i ng-class="{'ion-android-arrow-forward': platform.isAndroid(), 'ion-ios-arrow-forward': !platform.isAndroid()}" class="icon icon_blue"></i>

      </ion-item>
      <ion-item class="item-icon-right">
        <div class=item-text-info>
          Michael hat aktuell: {{punktZuKomma.parse(available)}} € <br>
          Letzte Überweisung war am 01.05.16: 15,00 €
        </div>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="send">
        <div class="item-text">Jetzt Geld senden</div>
        <i ng-class="{'ion-android-arrow-forward': platform.isAndroid(), 'ion-ios-arrow-forward': !platform.isAndroid()}" class="icon icon_blue"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="order">
        <div class="item-text">Dauerauftrag</div>
        <i ng-class="{'ion-android-arrow-forward': platform.isAndroid(), 'ion-ios-arrow-forward': !platform.isAndroid()}" class="icon icon_blue"></i>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="historie">
        <div class="item-text">Überweisungshistorie</div>
        <i ng-class="{'ion-android-arrow-forward': platform.isAndroid(), 'ion-ios-arrow-forward': !platform.isAndroid()}" class="icon icon_blue"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

