<ion-view view-title="Überweisungshistorie">


  <ion-content>
    Dropdown mit Monat

    Aktueller Stand:

    <ion-list class="transaction_list">
      <ion-item class="transaction_elem">
        <div>
          <div class="transaction_name">
            Überweisung<br>
            &nbsp;01.05.16 14:15
          </div>
          <div class="transaction_amount">
            + 3,40 €
          </div>
        </div>
      </ion-item>


      <ion-item class="transaction_elem">
          <div class="transaction_name">
            Taschengeld<br>
            &nbsp;01.05.16 08:55
          </div>

          <div class="transaction_amount">
            + 15,00 €
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

