<ion-view view-title="Historie">


  <ion-content>
    <label class="item item-input">
      <span class="input-label">Monat</span>
      <input type="month" ng-model="month">
    </label>

      <h2 class="label">Aktuelles Taschengeld: € {{punktZuKomma.parse(available)}}</h2>


<!--
    <ion-list class="transaction_list">
      <ion-item class="transaction_elem" ng-repeat="trans in transactionsService.transactions()">
        <div>
          <div class="transaction_name">
            {{trans.recipient}}<br>
            &nbsp;05.05.16 14:15
          </div>
          <div class="transaction_amount">
            € {{punktZuKomma.parse(trans.amount)}}
          </div>
        </div>
      </ion-item>
    </ion-list>
-->

    <ion-list class="transaction_list">
      <ion-item class="transaction_elem">
        <div>
          <div class="transaction_name">
            Überweisung<br>
            &nbsp;01.05.16 14:15
          </div>
          <div class="transaction_amount">
            € 3,40
          </div>
        </div>
      </ion-item>


      <ion-item class="transaction_elem">
          <div class="transaction_name">
            Taschengeld<br>
            &nbsp;01.05.16 08:55
          </div>

          <div class="transaction_amount">
            € 15,00
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

