<ion-view view-title="Historie">


  <ion-content>
    <label class="item item-input item-month">
      <span class="input-label">Monat:</span>
      <input type="month" ng-model="filterMonth" value="{{filterMonth | date: yyyy-MM}}"  ng-change="changeMonth(filterMonth)">
      <i class="icon ion-android-arrow-dropdown"></i>
    </label>

    <ion-list class="transaction_list">
      <ion-item class="transaction_elem" ng-repeat="request in moneyRequests | orderBy:'-timestamp':false">
        <div>
          <div class="transaction_name">
            Überweisung<br>
            &nbsp;{{request.timestamp| date: 'dd.MM.yy HH:mm'}}
          </div>
          <div class="transaction_amount">
            {{punktZuKomma.parse(request.amount)}} €
          </div>
        </div>
      </ion-item>
      <ion-item ng-show="noItems">
        <p id="noItems">Keine Ausgaben in diesem Monat</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

