<ion-view view-title="Dauerauftrag">

  <ion-content>
    <form name="orderForm" ng-model="orderForm" novalidate>
      <ion-list class="orderlist">

        <ion-item class="item item-input item-stacked-label">
          <p class="input-label">Betrag in EUR *</p>
          <input type="number" step="0.01" min="0" max="1000" placeholder="0,00" name="amount" ng-model="amount" required/>
        </ion-item>

        <ion-item class="item item-input item-stacked-label">
          <label class="item item-input item-select item-stable">
            <div class="input-label">
             Intervall
            </div>
            <select ng-change="setDays(selectedIntervall)" ng-options="intervall as intervall.name for intervall in intervalls track by intervall.id" name="intervall" ng-model="selectedIntervall"></select>
          </label>
        </ion-item>

        <ion-item class="item item-input item-stacked-label">
          <label class="item item-input item-select item-stable">
            <div class="input-label">
              {{description}}
            </div>
            <select ng-options="day as day.label for day in days track by day.id" name="day" ng-model="selectedDay"></select>
          </label>
        </ion-item>

        <div class="padding order-errors">
          <p ng-show="orderForm.amount.$error.required && !orderForm.amount.$pristine">* Bitte geben Sie einen Betrag ein.</p>
          <p ng-show="orderForm.amount.$invalid && !orderForm.amount.$pristine">* Im Feld Betrag sind nur Zahlen erlaubt. </p>
         </div>


        <button id="add_button" class="button button-block button-positive" ng-disabled="orderForm.$invalid"  ng-click="saveOrder(orderForm)">
          Speichern
        </button>

      </ion-list>
    </form>

  </ion-content>
</ion-view>



