<ion-view view-title="Geld senden">

  <!--
  <ion-nav-buttons side="right">
    <button class="button" ng-form="sendForm" type="submit" ng-click="sendTransaction(sendForm)">
      Senden
    </button>
  </ion-nav-buttons>
  -->

  <ion-content>
    <form name="sendForm" id="sendForm" ng-model="sendForm" novalidate>
      <ion-list>
        <ion-item class="item item-input item-stacked-label">
          <p class="input-label">Betrag* in EUR</p>
          <input type="number" step="0.01" min="0" max="1000" placeholder="0,00" name="amount" ng-model="amount" required />
        </ion-item>
        <ion-item class="item item-input item-stacked-label">
          <p class="input-label">Grund *</p>
          <textarea rows="4" cols="50" placeholder="" name="reason" ng-model="reason" required style="width:95%;"></textarea>
        </ion-item>

        <div class="padding order-errors">
          <p ng-show="sendForm.amount.$error.required && !sendForm.amount.$pristine">* Bitte geben Sie einen Betrag ein.</p>
          <p ng-show="sendForm.reason.$error.required && !sendForm.reason.$pristine">* Bitte geben Sie einen Grund an. </p>
          <p ng-show="sendForm.amount.$invalid && !sendForm.amount.$pristine">* Im Feld Betrag sind nur Zahlen erlaubt. </p>
        </div>

        <button id="add_button" class="button button-block button-positive" ng-disabled="sendForm.$invalid" ng-click="sendTransaction(sendForm)">
          Senden
        </button>

      </ion-list>
    </form>

  </ion-content>
</ion-view>

