<ion-view view-title="Übersicht" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="showEditMode()">
      {{editText}}
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button"  id="button_logout" ng-click="doSomething()">
      Logout
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list class="kids_list" ng-controller="StartCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder">
      <ion-item class="item-icon-right item-elem" ui-sref="detail" ng-repeat="kid in kids" ng-controller="StartCtrl" ng-click="setKid(kid)">
        <div class="name"> {{kid.name}} </div>
        <i ng-class="{'ion-android-arrow-forward': platform.isAndroid(), 'ion-ios-arrow-forward': !platform.isAndroid()}" class="icon icon_blue"></i>

        <ion-delete-button class="ion-minus-circled" ng-click="onKidDelete(kid)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderKid(kid, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
    <button id="add_kid" ng-click="openSelectModal()">
      <i class="icon ion-android-add-circle icon_blue"></i>
      <p class="add_title">Kind hinzufügen</p>
    </button>


  </ion-content>
</ion-view>

