<ion-view title="Statistik">
  <ion-content>
    <!--<label class="item item-input item-select item-stable">-->
      <!--<div class="input-label">-->
        <!--Monat-->
      <!--</div>-->
      <!--<select ng-model='data.months'>-->
        <!--<option ng-repeat='month in data.months track by month.id' ng-model='month.id'>{{month.name}}</option>-->
      <!--</select>-->
    <!--</label>-->

    <label class="item item-input">
      <span class="input-label">Monat</span>
      <input type="month" ng-model="data.month">
    </label>

    <canvas id="line" class="chart chart-line" chart-data="data.line"
            chart-labels="data.labels" chart-legend="true" chart-series="series"
            chart-click="onClick" >
    </canvas>

    <ion-toggle class='item-stable item-toggle' ng-model="data.showNeed">{{data.toggleLabel}}
    </ion-toggle>

    <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="data.spent" chart-labels="data.names" chart-colours="data.colors">
    </canvas>

  </ion-content>
</ion-view>

