<ion-header-bar class="bar-positive" align-title="middle">
  <div class="buttons">
  </div>
  <h1 ng-class="{'title-android':platform.isAndroid(), 'title-ios': !platform.isAndroid()}" class="title">Statistik</h1>
  <div class="buttons">
    <p ng-class="{'greeting-android':platform.isAndroid(), 'greeting-ios': !platform.isAndroid()}" class="greeting">Michael</p>
  </div>
</ion-header-bar>

<ion-subheader-bar ng-class="{'subheader-android':platform.isAndroid(), 'subheader-ios': !platform.isAndroid()}" class="bar bar-subheader ">
  <h2 class="title">
    {{currDate}}
    <i ng-class="{'ion-android-arrow-down': platform.isAndroid(), 'ion-ios-arrow-down': !platform.isAndroid()}" class="icon"></i>
  </h2>
</ion-subheader-bar>

<ion-view view-title="Historie">
  <ion-content>
    <ion-list class="list">

      <ion-item class="item-elem" ng-repeat="trans in transactionsService.transactions()">
          <div>{{trans.recipient}}: {{trans.amount}} EUR </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
