<ion-header-bar class="bar-positive" align-title="middle">
  <div class="buttons">
  </div>
  <h1 ng-class="{'title-android':platform.isAndroid(), 'title-ios': !platform.isAndroid()}" class="title">Übersicht</h1>
  <div class="buttons">
    <p ng-class="{'greeting-android':platform.isAndroid(), 'greeting-ios': !platform.isAndroid()}" class="greeting"></p>
  </div>
</ion-header-bar>

<ion-view view-title="Übersicht">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Monat</span>
      <input type="month" ng-model="filters.month" value="{{monthValue | date: yyyy-MM}}">
    </label>
    <!--<div>{{dev_height}} {{dev_width}}</div> -->

    <div class="border">
      <hr id="line"/>
    </div>
    <div class="anzeige">
      <p class="total">
        {{punktZuKomma.parse(Math.round(spentTotal+available))}} €
      </p>
      <p class="ausgaben">
        {{punktZuKomma.parse(Math.round(spentTotal))}} €
      </p>
    </div>

    <ion-list class="list" id="list">
      <ion-item class="item-elem" ng-repeat="stat in stats | orderBy:'-spent':false" style="background-color:{{stat.color}};" data-target="{{stat.height}}">
          <div class="child" style="height: {{stat.height}}px;">
            <a class="item-icon-left item-icon-right" href="#" style="height:{{stat.height}}px;">
              <i class="icon {{stat.icon_ios}} child__icon"></i>
              <span class="child__name">
                {{stat.name}}:
              </span>
                <span class="child__betrag">
                  {{punktZuKomma.parse(stat.spent)}} €
              </span>
              </a>
          </div>
      </ion-item>
      <ion-item class="item-elem" style="background-color:white; margin-bottom: 10px;" data-target="{{height_available}}">
        <div class="child">
          <span class="child__name">Taschengeld: </span>
          <span class="child__betrag">{{punktZuKomma.parse(available)}} €</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
