<ion-header-bar class="bar-positive" align-title="middle">
  <div class="buttons">
  </div>
  <h1 ng-class="{'title-android':platform.isAndroid(), 'title-ios': !platform.isAndroid()}" class="title">Transaktionen</h1>
  <div class="buttons">
    <p ng-class="{'greeting-android':platform.isAndroid(), 'greeting-ios': !platform.isAndroid()}" class="greeting"></p>
  </div>
</ion-header-bar>

<ion-view view-title="Transaktionen">

  <ion-content>
    <label class="item item-input">
      <span class="input-label">Monat</span>
      <input type="month" ng-model="month" value="{{monthValue | date: yyyy-MM}}">
    </label>

      <h2 class="label">Aktuelles Taschengeld: <strong>€ {{punktZuKomma.parse(available)}}</strong></h2>

    <ion-list class="transaction_list">
      <ion-item class="transaction_elem" ng-repeat="trans in transactionsService.transactions()">
      <div>
        <div class="transaction_icons">
             <span class="transaction_cat" style="background-color: {{stats[trans.category].color}}">
                <i class="icon {{stats[trans.category].icon_ios}}"></i>
            </span>
        </div>
        <div class="transaction_name">
          <span class="transaction_recipient">{{trans.recipient}}</span><br>
          <span class="transaction_date">05.05.16 14:15</span>
            <div class="transaction_tagzone">
              <span class="transaction_nw" ng-class="{isNeed: trans.isNeed == true, isWant: trans.isNeed == false}">
              {{(trans.isNeed ? "Gebraucht" : "Gewollt")}}
              </span>
            </div>
        </div>
        <div class="transaction_amount">
          € {{punktZuKomma.parse(trans.amount)}}
        </div>
      </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
